body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(193, 204, 193, 0.7);
    margin: 40px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: rgb(68, 68, 131);
    font-size: 30px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    color: rgb(89, 42, 42);
    margin-top: 0;
}

h3 {
    color: rgb(56, 13, 97);
    margin-top: 30px;
    padding-bottom: 5px;
}
table {
    background-color:rgb(157, 169, 179);
    width: 80%;
    margin-top: 10px;
}
table, th, td {
    border: 1px   solid rgb(16, 15, 15);
}
th{
    background-color: rgb(142, 112, 112);
    color:white;
}
td,th{
    padding: 10px;
}
p {
    font-size: 16px;
}