body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}